<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Consumables</key>
	<dict>
		<key>ru.denivip.photochat.mailings_to_all</key>
		<dict>
			<key>Count</key>
			<real>30</real>
			<key>Name</key>
			<string>Broadcast</string>
		</dict>
	</dict>
</dict>
</plist>
